.page { 
	width: 3000px;

 }

body {
	display: flex;
	}
	
.navbar {
	display: flex;
	border: 1px solid grey;
	height: 150px;
	flex-direction: row;
	background-color: beige;
}
.link {
	display: flex;
}
.home {
	flex: 1;
	flex-flow: wrap;
	justify-content: flex-end;
	font-weight: bolder;
}	
a:hover {
	color: darkorange;
}
	
.box {
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
	flex: 3;
	justify-content: space-around;
	height:500px;
	background-color: #b57e1d ;
	}

img {
	width: 150px;
	height: 150px;
	justify-content: flex-start;
}	

.list {
	display: flex;
	flex: 4;
	border: 1px solid grey;
	background-color: lightgrey;
}

a {
	text-decoration: none;
	color: black;

}
.content {
	display: flex;

}
.maincontent {
	flex: 5;
}
.rightnav{
	flex: 5;
}