.navbar {
	display: flex;
	border: 1px solid black;
}

.home {
	flex: 4;
	flex-wrap: wrap;
}
.box{
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	flex-basis: 300px;
	height: 100px;
	
}
